body{
    background-color: rgba(0, 0, 0);
    color: rgba(200,200,200,1); 
    font-family: Impact;
    font-size: 10pt;    
}
*{font-family: impact}
#DivMenu{
    heigth: 120px;
}
#DivBanner{
    heigth: 400px;
}    

#Cards{
    background-color: rgb(156, 161, 156);
}

.TituloCard{
    font-weigth: bold;
    font-size: 18pt;
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.ImgCard{
    
   width: 250px;
   height: 250px;
}