body{
    background-color: rgba(0, 0, 0);
    color: rgb(236, 164, 6); 
    font-family: Impact;
    font-size: 10pt;    
}
*{font-family: impact}
#DivMenu{
    heigth: 120px;
}
#DivBanner{
    heigth: 400px;
}    

#Cards{
    background-color: rgb(60, 60, 60);
}
#Cards:hover{
    background-color: rgb(198, 170, 57);
     
}

.TituloCard{
    font-weigth: bold;
    font-size: 18pt;
    color: rgb(199, 154, 6);
    text-decoration: none;
}
#DivRodape{
    height:50px;
    width: 8px;
}

.ImgCard{
    
    height:100%;
    width: 100%;
   
}
